# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
.flutter-versions
.build/

# Web related
lib/generated_plugin_registrant.dart

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
.env

# Android build artifacts
android/app/build/
android/build/
build/

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties

# iOS / Xcode
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/flutter_export_environment.sh
ios/Flutter/Generated.xcconfig

# CocoaPods
ios/Pods/
ios/.symlinks/
ios/Podfile.lock

# Xcode build & user files
ios/build/
ios/DerivedData/
ios/*.xcworkspace
ios/*.xcodeproj/project.xcworkspace
ios/*.xcodeproj/xcuserdata/
ios/*.xcworkspace/xcuserdata/
ios/*.xcuserstate
ios/*.xcscmblueprint

# Xcode local config
ios/Runner.xcconfig